# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
_requirements/messenger-insights-ui-v4.html
_requirements/plan.md
_requirements/telegram_bad_sentiment.json
_requirements/telegram_good_sentiment.json
_requirements/telegram_neutral_sentiment.json
_requirements/whatsapp_bad_sentiment.txt
_requirements/whatsapp_good_sentiment.txt
_requirements/whatsapp_neutral_sentiment.txt
_requirements/whatsapp_noisy.txt
src/Archive.zip
src/environments/environment.ts
